<html>
<style>
.about {
    background-color: tomato;
    color: white;
    padding: 10px;
    font-family: biotif;
}
.body1 {
  background-color: lightblue;
  color: black;
  padding: 10px;
  font-family: biotif;
}
</style>

<head>
<h2 class='about'>This is a page about my blog.</h2>
</head>
<body class='body1'>
<ul>
    <li>element 1</li>
    <li>element 2</li>
    <li>element 3</li>
    <li>element 4</li>
</ul>
<%= link_to 'Home', root_path %>
</body>



</html>
