<html>
<head>
<h1 style="colour:darkblue; background-color:yellow; font-family:biotif;">This is the Homepage</h1>
</head>
<body>
  <p style="font-family:biotif;"> This is an HTML paragraph element. My first paragraph!!</p>
  <%= link_to 'About', about_path %>
  <br />
  <a href="https://www.bbc.co.uk" style="font-family:biotif;">This is a link to the BBC</a>

</body>
</html>
